<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.mapper.PostMapper">
    <update id="update">
        UPDATE post
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="top != null">
                top = #{top},
            </if>
            <if test="pro != null">
                pro = #{pro},
            </if>
            <if test="isDeleted != null">
                id_deleted = #{isDeleted},
            </if>
            <if test="viewCount != null">
                view_count = #{viewCount},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount},
            </if>
            <if test="commentCount != null">
                comment_count = #{likeCount},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="score != null">
                score = #{score},
            </if>
            <if test="categoryId != null">
                category_id = #{categoryId},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>